* { box-sizing: border-box; }
body { padding: 1em; overflow-y: scroll; }
ul { margin: 0; padding: 0; }
li { list-style-type: none }
h3 { margin: 0; font-size: 1.3em}

.loader-container {
    width: 80px;
    height: 80px;
}

#main-loader {
    width: 100%;
    height: 100%;
}

.cars-list li {
    display: inline-block;
    margin-right: .5em;
}

.car-speed {
    font-size: .9em;
    float: right;
    line-height: 2.5;
}

/*MATERIAL OVERRIDES*/
.demo-card-square > .mdl-card__title {
    height: 200px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.mdl-card__supporting-text {
    padding-top: 0;
}

/*TRACK*/
.track {
    background-color: #607D8B;
    margin-top: 1em;
    width: 100%;
}

.track-line {
    position: relative;
    width: 100%;
    height: 60px;
}

.track li:not(:last-child) .track-line {
    background-image: linear-gradient(to right, #fff 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 25px 1px;
    background-repeat: repeat-x;
}

.track-car {
    height: 60px;
    width: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.track-headline {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #c6c6c6;
    margin: 4em 0 1em;
}

.track-headline:after {
    content: 'Race';
    position: absolute;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 1.1em;
    color: #c6c6c6;
}

.track-car-data {
    color: #fff;
    opacity: .6;
    z-index: 0;
}

.distance {
    height: 30px;
    text-align: center;
    color: #c6c6c6;
    font-size: 1.1em;
}


/*RACE*/
.start-btn {
    margin: 1em auto 0;
    display: table;
}

.rankings-table {
    margin-top: 1em;
}
.rankings-table tbody td:first-child {
    text-align: center;
}
.rankings-table tbody tr:nth-child(1) td:first-child {
    background-color: #FFEB3B;
}
.rankings-table tbody tr:nth-child(2) td:first-child {
    background-color: #9E9E9E;
}
.rankings-table tbody tr:nth-child(3) td:first-child {
    background-color: #8D6E63;
}
.rankings-table {
    display: none;
}

/*HELPERS*/
.absolute-middle {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
